

@import './lge-font.css';

html, body {font-family: 'LGSmHaR'; font-size: 14px; letter-spacing: -1px;}
.wrapper{max-width: 1600px; margin: auto; padding: 0 30px;}

.header-wrapper{}
	.header-wrapper .top-wrapper{background-color: #333;  padding: 20px 0 6px 0;}
		.top-wrapper ul.top-wrap{float: right;  background-color: #ae1a4a; border-radius: 13px; padding: 6px 10px; font-size: 13px;  letter-spacing: -1px;}
		.top-wrapper ul.top-wrap li{float: left; color: whitesmoke;}
		.top-wrapper ul.top-wrap li:nth-child(2){margin: 0 12px; opacity: .5;}
	.navi-wrapper{background-color: #333; position: relative;}
		.navi-wrapper .logo{width: 164px; height: 43px; float: left; background-image: url('../img/common.png');}
		.navi-wrapper .logo a{display:inline-block; width: 100%; height: 100%;}
		.navi-wrapper .navi-wrap{float: right; color: whitesmoke; font-size: 18px;}
		.navi-wrapper .navi-wrap .navi{float: left; padding: 16px 14px 30px 14px; height: 66px;}  
		.navi-wrapper .navi-wrap .navi .sub-wrap{position: absolute; width: 100%; height: 0; background-image: linear-gradient(#ccc, #f1f1f1); top: 66px; left: 0; transition: height 0.35s; overflow: hidden; box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); z-index: 1;}  

		.navi-wrapper .navi-wrap .navi:hover{background-color: #ccc;}
		.navi-wrapper .navi-wrap .navi:hover > a{color: #333;}
		.navi-wrapper .navi-wrap .navi:hover > .sub-wrap{height: 300px; z-index: 2;}


	